# Telegram Bot API Token from @BotFather
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Telegram User ID of bot administrator
ADMIN_ID=123456789

# Path to SQLite database
SQLITE_DB_PATH=giveaways.db

# TBD: PosgreSQL and Redis support